# Python Datetime

In [1]:
#Importing library
from datetime import datetime
import numpy as np
import pandas as pd

In [18]:
#Extracting current time
datetime.now()

datetime.datetime(2021, 3, 27, 15, 0, 43, 173192)

In [17]:
#Creating python date time formate list
date_formate = ['%a','%A','%w','%d','%b','%B','%m','%y','%Y','%H','%I','%p','%M','%S','%f','%z','%Z','%j','%U','%W','%c','%x',
                '%X','%''%','%G','%u','%V']
desc = ['Weekday short version',
        'Weekday full version',
        'Weekday as a number 0-6,0 is Sunday',
        'Day of month 01-31',
        'Month name, short version',
        'Month name, full version',
        'Month as a number 01-12',
        'Year,short version,without century',
        'Year,full version',
        'Hour 00-23',
        'Hour 00-12',
        'AM/PM',
        'Minute 00-59',
        'Second 00-59',
        'Microsecond 000000-999999',
        'UTC offset',
        'Timezone',
        'Day number of year 001-366',
        'Week number of year, Sunday as the first day of week, 00-53',
        'Week number of year, Monday as the first day of week, 00-53',
        'Local version of date and time',
        'Local version of date',
        'Local version of time',
        'A % character',
        'ISO 8601 year',
        'ISO 8601 weekday (1-7)',
        'ISO 8601 weeknumber (01-53)']

#Creating datetime
x = datetime(2021, 1, 2, 13, 30, 15)

#Extracting different datetime formates as per the given date time
for i,j in zip(date_formate,desc):
    print(f'{j:{60}} {i:{3}} {x.strftime(i)}')

Weekday short version                                        %a  Sat
Weekday full version                                         %A  Saturday
Weekday as a number 0-6,0 is Sunday                          %w  6
Day of month 01-31                                           %d  02
Month name, short version                                    %b  Jan
Month name, full version                                     %B  January
Month as a number 01-12                                      %m  01
Year,short version,without century                           %y  21
Year,full version                                            %Y  2021
Hour 00-23                                                   %H  13
Hour 00-12                                                   %I  01
AM/PM                                                        %p  PM
Minute 00-59                                                 %M  30
Second 00-59                                                 %S  15
Microsecond 000000-999999                                    %f  000000
UTC offset                                                   %z
Timezone                                                     %Z
Day number of year 001-366                                   %j  002
Week number of year, Sunday as the first day of week, 00-53  %U  00
Week number of year, Monday as the first day of week, 00-53  %W  00
Local version of date and time                               %c  Sat Jan  2 13:30:15 2021
Local version of date                                        %x  01/02/21
Local version of time                                        %X  13:30:15
A % character                                                %%  %
ISO 8601 year                                                %G  2020
ISO 8601 weekday (1-7)                                       %u  6
ISO 8601 weeknumber (01-53)                                  %V  53

In [19]:
#Creating datetime
date = datetime(2021, #year
                1,    #month
                2,    #day
                13,   #hour
                30,   #minute
                15)   #second
date

datetime.datetime(2021, 1, 2, 13, 30, 15)

In [20]:
#Checking data type of date
type(date)

datetime.datetime

In [21]:
#Extracting year, month, day, hour, minute & second
print(date.year)
print(date.month)
print(date.day)
print(date.hour)
print(date.minute)
print(date.second)

2021
1
2
13
30
15

# Creating datetime data through Numpy Array

In [34]:
#Creating three datetime in numpy (yyyy-mm-dd)
date1 = np.array(['2020-03-15', '2020-03-16', '2020-03-07'])
date1

array(['2020-03-15', '2020-03-16', '2020-03-07'], dtype='<U10')

In [35]:
#Checking data type
type(date1)

numpy.ndarray

Data type showing <U10 numpy.ndarray

In [36]:
#Changing data type
date1 = date1.astype('datetime64')

In [37]:
#Checking data type
date1

array(['2020-03-15', '2020-03-16', '2020-03-07'], dtype='datetime64[D]')

Data type changed to datetime formate

# Creating datetime data through Numpy Array with different formates

In [41]:
#Creating datetime formates
datetime_formate = ['datetime64[Y]','datetime64[M]', 'datetime64[D]', 'datetime64[h]', 'datetime64[m]', 'datetime64[s]', 'datetime64[ms]']

#Creating numpy array with different date formates
for i in datetime_formate:
    date_new = np.array(['2020-03-15', '2020-03-16', '2020-03-07'], dtype = i)
    print(i,date_new)

datetime64[Y] ['2020' '2020' '2020']
datetime64[M] ['2020-03' '2020-03' '2020-03']
datetime64[D] ['2020-03-15' '2020-03-16' '2020-03-07']
datetime64[h] ['2020-03-15T00' '2020-03-16T00' '2020-03-07T00']
datetime64[m] ['2020-03-15T00:00' '2020-03-16T00:00' '2020-03-07T00:00']
datetime64[s] ['2020-03-15T00:00:00' '2020-03-16T00:00:00' '2020-03-07T00:00:00']
datetime64[ms] ['2020-03-15T00:00:00.000' '2020-03-16T00:00:00.000'
 '2020-03-07T00:00:00.000']

# Creating time series data through np.arange function

## Creating date series

In [45]:
#Extracting 30 days from June
np.arange('2021-06-01', # Date start
          '2021-06-30', # Date end
          1, #Days gap between the dates
          dtype = 'datetime64[D]')

array(['2021-06-01', '2021-06-02', '2021-06-03', '2021-06-04',
       '2021-06-05', '2021-06-06', '2021-06-07', '2021-06-08',
       '2021-06-09', '2021-06-10', '2021-06-11', '2021-06-12',
       '2021-06-13', '2021-06-14', '2021-06-15', '2021-06-16',
       '2021-06-17', '2021-06-18', '2021-06-19', '2021-06-20',
       '2021-06-21', '2021-06-22', '2021-06-23', '2021-06-24',
       '2021-06-25', '2021-06-26', '2021-06-27', '2021-06-28',
       '2021-06-29'], dtype='datetime64[D]')

## Creating month series

In [44]:
#Extracting 12 monhts
np.arange('2021-01-01', 
          '2022-01-31',
          1, 
          dtype = 'datetime64[M]')

array(['2021-01', '2021-02', '2021-03', '2021-04', '2021-05', '2021-06',
       '2021-07', '2021-08', '2021-09', '2021-10', '2021-11', '2021-12'],
      dtype='datetime64[M]')

## Creating year series

In [46]:
#Extracting Year from 2007 to 2021
np.arange('2007-01-01', 
          '2021-12-31',
          1, 
          dtype = 'datetime64[Y]')

array(['2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016', '2017', '2018', '2019', '2020'],
      dtype='datetime64[Y]')

In [54]:
#Extracting Year from 2007 to 2021
np.arange('2007', 
          '2021',
          1, 
          dtype = 'datetime64[Y]')

array(['2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016', '2017', '2018', '2019', '2020'],
      dtype='datetime64[Y]')

## Creating minutes series

In [49]:
#Extracting minutes in one day
np.arange('2021-01-01', 
          '2021-01-02',
          60, # one hours gap
          dtype = 'datetime64[m]')

array(['2021-01-01T00:00', '2021-01-01T01:00', '2021-01-01T02:00',
       '2021-01-01T03:00', '2021-01-01T04:00', '2021-01-01T05:00',
       '2021-01-01T06:00', '2021-01-01T07:00', '2021-01-01T08:00',
       '2021-01-01T09:00', '2021-01-01T10:00', '2021-01-01T11:00',
       '2021-01-01T12:00', '2021-01-01T13:00', '2021-01-01T14:00',
       '2021-01-01T15:00', '2021-01-01T16:00', '2021-01-01T17:00',
       '2021-01-01T18:00', '2021-01-01T19:00', '2021-01-01T20:00',
       '2021-01-01T21:00', '2021-01-01T22:00', '2021-01-01T23:00'],
      dtype='datetime64[m]')

In [53]:
#Extracting second in one day
np.arange('2021-01-01', 
          '2021-01-02',
          60, # one hours gap
          dtype = 'datetime64[s]')

array(['2021-01-01T00:00:00', '2021-01-01T00:01:00',
       '2021-01-01T00:02:00', ..., '2021-01-01T23:57:00',
       '2021-01-01T23:58:00', '2021-01-01T23:59:00'],
      dtype='datetime64[s]')

# Creating Time Series Date through Pandas

## Creating date series

In [56]:
#Creating 30 days time series
pd.date_range('2021-01-01',
             periods=31,
             freq='D')

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06', '2021-01-07', '2021-01-08',
               '2021-01-09', '2021-01-10', '2021-01-11', '2021-01-12',
               '2021-01-13', '2021-01-14', '2021-01-15', '2021-01-16',
               '2021-01-17', '2021-01-18', '2021-01-19', '2021-01-20',
               '2021-01-21', '2021-01-22', '2021-01-23', '2021-01-24',
               '2021-01-25', '2021-01-26', '2021-01-27', '2021-01-28',
               '2021-01-29', '2021-01-30', '2021-01-31'],
              dtype='datetime64[ns]', freq='D')

In [57]:
#Creating 30 days time series
pd.date_range('Jan 01, 2021',
             periods=31,
             freq='D')

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06', '2021-01-07', '2021-01-08',
               '2021-01-09', '2021-01-10', '2021-01-11', '2021-01-12',
               '2021-01-13', '2021-01-14', '2021-01-15', '2021-01-16',
               '2021-01-17', '2021-01-18', '2021-01-19', '2021-01-20',
               '2021-01-21', '2021-01-22', '2021-01-23', '2021-01-24',
               '2021-01-25', '2021-01-26', '2021-01-27', '2021-01-28',
               '2021-01-29', '2021-01-30', '2021-01-31'],
              dtype='datetime64[ns]', freq='D')

In [66]:
#Creating 30 days time series
pd.date_range('01/01/2021',
             periods=31,
             freq='D')

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06', '2021-01-07', '2021-01-08',
               '2021-01-09', '2021-01-10', '2021-01-11', '2021-01-12',
               '2021-01-13', '2021-01-14', '2021-01-15', '2021-01-16',
               '2021-01-17', '2021-01-18', '2021-01-19', '2021-01-20',
               '2021-01-21', '2021-01-22', '2021-01-23', '2021-01-24',
               '2021-01-25', '2021-01-26', '2021-01-27', '2021-01-28',
               '2021-01-29', '2021-01-30', '2021-01-31'],
              dtype='datetime64[ns]', freq='D')

## Creating month series

In [58]:
#Creating 12 month time series
pd.date_range('2021-01-01',
             periods=12,
             freq='M')

DatetimeIndex(['2021-01-31', '2021-02-28', '2021-03-31', '2021-04-30',
               '2021-05-31', '2021-06-30', '2021-07-31', '2021-08-31',
               '2021-09-30', '2021-10-31', '2021-11-30', '2021-12-31'],
              dtype='datetime64[ns]', freq='M')

## Creating year series

In [59]:
#Creating 30 years time series
pd.date_range('2021-01-01',
             periods=30,
             freq='Y')

DatetimeIndex(['2021-12-31', '2022-12-31', '2023-12-31', '2024-12-31',
               '2025-12-31', '2026-12-31', '2027-12-31', '2028-12-31',
               '2029-12-31', '2030-12-31', '2031-12-31', '2032-12-31',
               '2033-12-31', '2034-12-31', '2035-12-31', '2036-12-31',
               '2037-12-31', '2038-12-31', '2039-12-31', '2040-12-31',
               '2041-12-31', '2042-12-31', '2043-12-31', '2044-12-31',
               '2045-12-31', '2046-12-31', '2047-12-31', '2048-12-31',
               '2049-12-31', '2050-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

## Changing date object into datetime

In [70]:
#Changing date object into date time
pd.to_datetime(['02/01/2021', '02/05/2021'])

DatetimeIndex(['2021-02-01', '2021-02-05'], dtype='datetime64[ns]', freq=None)

In [71]:
#Changing date object into date time with dd.mm.yy formate
pd.to_datetime(['02/01/2021', '02/05/2021'], format='%d/%m/%Y')

DatetimeIndex(['2021-01-02', '2021-05-02'], dtype='datetime64[ns]', freq=None)

In [75]:
#Changing date object into date time with dd.mm.yy formate
pd.to_datetime(['02--01--2021', '02--05--2021'], format='%d--%m--%Y')

DatetimeIndex(['2021-01-02', '2021-05-02'], dtype='datetime64[ns]', freq=None)

## Creating time series data

In [76]:
#Creating row data from numpy
data = np.random.randn(3,2)
cols = ['X', 'Y']
data

array([[-0.15344588, -1.68789169],
       [-0.99977421, -0.32100835],
       [ 0.11950566,  0.78832046]])

In [77]:
#Creating date dataframe
date_df = pd.date_range('2020-01-01',
                       periods=3,
                       freq='D')
date_df

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03'], dtype='datetime64[ns]', freq='D')

In [78]:
#Creating data
data_df = pd.DataFrame(data, index=date_df, columns=cols)
data_df

                   X         Y
2020-01-01 -0.153446 -1.687892
2020-01-02 -0.999774 -0.321008
2020-01-03  0.119506  0.788320

In [79]:
#Extracting index of the data
data_df.index

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03'], dtype='datetime64[ns]', freq='D')

In [81]:
#Extracting max date / last date
data_df.index.max()

Timestamp('2020-01-03 00:00:00', freq='D')

In [82]:
#Extracting min date / first date
data_df.index.min()

Timestamp('2020-01-01 00:00:00', freq='D')

In [83]:
#Getting index position of max date
data_df.index.argmax()

2

In [84]:
#Getting index position of min date
data_df.index.argmin()

0